<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- injector:css -->
    <!-- endinjector -->
    <!-- endbuild -->
    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
        api_key: 77jha1j50zl7wa
        onLoad: onload
        authorize: true
    </script>

    <script type="text/javascript">
        function onload() {
            console.log("logging in");
            IN.Event.on(IN, "auth", onLinkedInAuth);
        }

        function onLinkedInAuth() {
            IN.API.Raw().url('/people/~:(id,first-name,last-name,formatted-name,summary,picture-urls::(original),public-profile-url,industry,email-address,phone-numbers,skills,educations,languages,date-of-birth,certifications,last-modified-timestamp,interests,positions,proposal-comments,associations,publications,patents,courses,volunteer,num-recommenders,recommendations-received,honors-awards)?format=json').result(function displayProfiles(profile) {
                document.getElementById('currentProfileBox').value = JSON.stringify(profile);
                console.log(profile);
            });
        }
    </script>
</head>

<body ng-app="doughlandApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="UpdateController">
        <section>
            <h1>Profile Management</h1>
            <h3>Pull from LinkedIn:</h3>
            <textarea id="currentProfileBox" rows="10" style="width:100%"></textarea>
            <button class="btn btn-primary btn-lg" ng-click="addProfile()">Add Profile</button>
            <a ng-href="/api/cv">
                <button class="btn btn-primary btn-lg">Create CV</button>
            </a>
        </section>

        <h3>Stored Profiles:</h3>
        <div ng-repeat="profile in profiles">
            <div class="row form-group">
                <div class="col-lg-9 col-xs-9">
                    {{ profile.lastModifiedTimestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}<span ng-show="profile.default"> (Default)</span>
                </div>
                <div class="col-lg-2 col-xs-1" ng-hide="profile.default">
                    <button class="btn btn-block btn-success" ng-click="setDefaultProfile(profile, true)">Set default</button>
                </div>
                <div class="col-lg-2 col-xs-1" ng-show="profile.default">
                    <button class="btn btn-block btn-warning" ng-click="setDefaultProfile(profile, false)">Un-set default</button>
                </div>
                <div class="col-lg-1 col-xs-1">
                    <button class="btn btn-block btn-danger" ng-click="deleteProfile(profile)">Remove</button>
                </div>
            </div>
        </div>

        <section>
            <h3>Skill Config:</h3>
            <div ng-show="profile.default" ng-repeat="profile in profiles">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Skill Name</th>
                            <th>Skill Level</th>
                            <th>Save</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="skill in profile.skills.values">
                            <th scope="row">{{ skill.skill.name }}</th>
                            <td>
                                <input type="number" class="form-control input-sm" ng-model="skill.level">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success btn-block" ng-click="createOrUpdateSkill(skill.skill.name, skill.level)">Save</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/threejs/build/three.js"></script>
    <script src="bower_components/matchmedia/matchMedia.js"></script>
    <script src="bower_components/ngSticky/lib/sticky.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/pie-chart/dist/pie-chart.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/ng-pageslide/dist/angular-pageslide-directive.js"></script>
    <script src="bower_components/angular-deckgrid/angular-deckgrid.js"></script>
    <!-- endbower -->
    <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
    <!-- injector:js -->
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/update/update.controller.js"></script>
    <script src="app/update/update.js"></script>
    <script src="components/modal/modal.service.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/socket/socket.service.js"></script>
    <!-- endinjector -->
    <!-- endbuild -->
</body>
