<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center social-icons">
                <a href="https://www.facebook.com/dolan.miu" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a ng-href="{{ profile.publicProfileUrl }}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
                <a href="https://github.com/dolanmiu" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
                <a href="https://www.youtube.com/user/dolanmiu" target="_blank"><i class="fa fa-youtube-square fa-3x"></i></a>
                <a href="https://bitbucket.org/dolanmiu" target="_blank"><i class="fa fa-bitbucket-square fa-3x"></i></a>
            </div>
        </div>
        <p>I made this website for fun and because I am too lazy to update my LinkedIn and my CV at the same time. At least I am honest.</p>
        <p>© Dolan Miu. Much love ♥</p>
    </div>
</footer>