$bgDefault: #2a2d3c;
.navbar-mobile {
    background-color: #2a2d3c;
    hr {
        margin: 0;
        border-top: 1px dotted #3a3e41;
    }
    .icon {
        width: 30px;
        float: left;
        position: relative;
    }
    a {
        &:hover {
            color: $bgDefault;
        }
        color: #eeeeee;
    }
    width: auto;
}