$bgDefault: #2a2d3c;
$bgHighlight: #eeeeee;
$colDefault: #ecf0f1;
$colHover: #2a2d3c;
$colNormal: #eeeeee;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
.navbar-dark {
    z-index: 40;
    background: $bgDefault;
    .dolan-nav {
        a {
            &:hover {
                color: $bgDefault;
            }
            color: $colNormal;
        }
        text-transform: lowercase;
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
            }
        }
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover;
                }
            }
        }
        > li {
            &:hover, &:focus {
                background-color: $bgDefault;
            }
        }
    }
}

.desktop-nav {
    @media screen and (max-width: $screen-sm-min) {
        display: none;
    }
}

.mobile-nav {
    @media screen and (min-width: $screen-sm-min) {
        display: none;
    }
}

.nav-button {
    padding: 0 8px;
}

.nav-container {
    height: 70px;
}