<div id="top" ng-controller="3dSceneController">
    <div id="main"></div>
</div>

<div class="screen-padding" ng-controller="TextEasterEggController" ng-click="getRandomMessage()" style="height:{{ screenMinusNavHeight }}px">
    <div class="title-overlay">
        My name is Dolan
        <p>{{ currentMessage }}</p>
        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>
    </div>
</div>

<div class="page">
    <div ng-include="'components/navbar/navbar.html'"></div>

    <div id="contact" class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-envelope-o fa-3x"></i>
                <br><strong>E-mail: </strong><a href="mailto:dolan_miu@hotmail.com" target="_top">{{ profile.emailAddress }}</a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-phone fa-3x"></i>
                <br><strong>Phone number: </strong>{{ profile.phoneNumbers.values[0].phoneNumber }}
            </div>
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-linkedin-square fa-3x"></i>
                <br><strong>LinkedIn: </strong><a ng-href="{{ profile.publicProfileUrl }}" target="_blank">{{ profile.publicProfileUrl }}</a>
            </div>
        </div>
    </div>
    <hr>

    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ profile.formattedName }}</h1>
                    <p><strong>Java, C#, JS software developer. Web designer also now I suppose ...</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-4">
                    <div class="profile-picture">
                        <img ng-src="{{ profile.pictureUrls.values[0] }}" />
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8" ng-controller="SkillsController">
                    <div ng-repeat="skill in programmingSkills">
                        {{ skill.name }}
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: {{ skill.score }}%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Summary</h3> {{ profile.summary }}
                </div>
            </div>
        </div>
    </section>

    <section id="stats" class="dark">
        <div class="container">
            <div ng-show="gitHub">
                <div class="row text-right">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left">
                        <h3>My Stats</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <h2><i class="fa fa-code"></i> {{ gitHub.data.contributionsLastYear.amount * 30 }}</h2>
                        <br>
                        <h3>Lines of code</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <h2><i class="fa fa-code-fork"></i> {{ gitHub.data.contributionsLastYear.amount }}</h2>
                        <br>
                        <h3>Commits</h3>
                        <!--<br>{{ gitHub.data.contributionsLastYear.startDate }} - {{ gitHub.data.contributionsLastYear.endDate }}-->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <h2><i class="fa fa-child"></i> {{ gitHub.data.longestStreak.amount }}</h2>
                        <br>
                        <h3>Longest Streak</h3>
                        <!--<br>{{ gitHub.data.longestStreak.startDate }} - {{ gitHub.data.longestStreak.endDate }}-->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <h2><i class="fa fa-trophy"></i> {{ gitHub.data.currentStreak.amount }}</h2>
                        <br>
                        <h3>Current Streak</h3>
                        <!--<br>{{ gitHub.data.currentStreak.startDate }} - {{ gitHub.data.currentStreak.endDate }}-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        Last fetched: {{ gitHubTime.minutes }} minutes and {{ gitHubTime.seconds }} seconds ago
                    </div>
                </div>
            </div>
            <div ng-hide="gitHub">
                <div class="text-center">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    <h3>Fetching data from GitHub</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Resume</h1>
                </div>
            </div>
            <div class="row">
                <div ng-repeat-start="education in profile.educations.values" ng-if="$first">
                    <div class="col-md-3">
                        <h3>Education</h3>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ education.fieldOfStudy }} - {{ education.degree }}</h4> {{ education.notes }}
                        <hr>
                    </div>
                    <div class="col-md-3 resume-place">
                        <div class="icon"><i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="institution">
                            <h4>{{ education.schoolName }}</h4>
                        </div>
                        <div class="dates"><i class="fa fa-calendar"></i> {{ education.startDate.year }} - {{ education.endDate.year }}</div>
                    </div>
                </div>
                <div ng-repeat-end ng-if="!$first">
                    <div class="col-md-6 col-md-offset-3">
                        <h4>{{ education.fieldOfStudy }} - {{ education.degree }}</h4> {{ education.notes }}
                        <hr>
                    </div>
                    <div class="col-md-3 resume-place">
                        <h4><div class="icon"><i class="fa fa-graduation-cap"></i></div><div class="institution">{{ education.schoolName }}</div></h4>
                        <div class="dates"><i class="fa fa-calendar"></i> {{ education.startDate.year }} - {{ education.endDate.year }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-repeat-start="position in profile.positions.values" ng-if="$first">
                    <div class="col-md-3">
                        <h3>Experience</h3>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ position.title }}</h4> {{ position.summary }}
                        <hr>
                    </div>
                    <div class="col-md-3 resume-place">
                        <div class="icon"><i class="fa fa-suitcase"></i>
                        </div>
                        <div class="institution">
                            <h4>{{ position.company.name }}</h4>
                        </div>
                        <div class="dates"><i class="fa fa-calendar"></i> {{ position.startDate.month }}/{{ position.startDate.year }} -
                            <span ng-if="position.isCurrent">Present</span>
                            <span ng-if="!position.isCurrent">{{ position.endDate.month }}/{{ position.endDate.year }}</span>
                        </div>
                    </div>
                </div>
                <div ng-repeat-end ng-if="!$first">
                    <div class="col-md-6 col-md-offset-3">
                        <h4>{{ position.title }}</h4> {{ position.summary }}
                        <hr>
                    </div>
                    <div class="col-md-3 resume-place">
                        <div class="icon"><i class="fa fa-suitcase"></i>
                        </div>
                        <div class="institution">
                            <h4>{{ position.company.name }}</h4>
                        </div>
                        <div class="dates"><i class="fa fa-calendar"></i> {{ position.startDate.month }}/{{ position.startDate.year }} -
                            <span ng-if="position.isCurrent">Present</span>
                            <span ng-if="!position.isCurrent">{{ position.endDate.month }}/{{ position.endDate.year }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <button class="btn btn-lg btn-success">Generate CV</button>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" class="dark">
        <div class="container" ng-controller="ChartController">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group btn-spacing" ng-repeat="skill in profile.skills.values">
                        <label class="btn btn-default btn-anti">3</label>
                        <label class="btn btn-default" ng-model="skill.selected" ng-click="doSomething(skill, skill.selected)" btn-checkbox>{{ skill.skill.name }}</label>
                    </div>
                </div>
                <div class="col-md-6" style="height: 500px">
                    <div class="text-center vcenter" ng-show="data.length == 0">
                        <i class="fa fa-pie-chart fa-5x"></i>
                        <h4>Please select some items from the left hand side to graphically compare my skill to get a general idea of my level of ability</h4>
                    </div>
                    <pie-chart data="data" options="options"></pie-chart>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container" ng-controller="PortfolioController">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Portfolio</h1>
                </div>
            </div>
            <div deckgrid class="deckgrid" source="portfolio">
                <div class="col-sm-4 a-card">
                    <div class="thumbnail">
                        <a href="{{ card.link }}" target="_blank">
                            <img ng-src="{{ card.imageUrl }}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                        </a>
                        <div class="caption">
                            <h3>{{ card.title }}</h3>
                            <p>{{ card.description }}</p>
                            <p>
                                <a href="{{ card.link }}" class="btn btn-primary" role="button" target="_blank">Check it out</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="screen-padding" style="height: 600px"></div>

<div class="page">
    <div ng-include="'components/footer/footer.html'"></div>
</div>