<div id="main"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <i class="fa fa-envelope fa-2x"></i>
            <br>{{ profile.emailAddress }}
        </div>
        <div class="col-lg-4">
            <i class="fa fa-phone fa-2x"></i>
            <br>{{ profile.phoneNumbers.values[0].phoneNumber }}
        </div>
        <div class="col-lg-4">
            <i class="fa fa-linkedin-square fa-2x"></i>
            <br>{{ profile.publicProfileUrl }}
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ profile.formattedName }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img ng-src="{{ profile.pictureUrls.values[0] }}" />
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <h2>Professional Profile</h2> {{ profile.summary }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Stats</h1>
        </div>
    </div>
    <div ng-show="gitHub">
        <div class="row">
            <div class="col-lg-3">
                {{ gitHub.data.contributionsLastYear.amount }}
                <br>Contributions this year
                <br>{{ gitHub.data.contributionsLastYear.startDate }} - {{ gitHub.data.contributionsLastYear.endDate }}
            </div>
            <div class="col-lg-3">
                {{ gitHub.data.longestStreak.amount }}
                <br>Longest Streak
                <br>{{ gitHub.data.longestStreak.startDate }} - {{ gitHub.data.longestStreak.endDate }}
            </div>
            <div class="col-lg-3">
                {{ gitHub.data.currentStreak.amount }}
                <br>Current Streak
                <br>{{ gitHub.data.currentStreak.startDate }} - {{ gitHub.data.currentStreak.endDate }}
            </div>
            <div class="col-lg-3">
                {{ gitHub.data.contributionsLastYear.amount * 30 }}
                <br>Average lines of code written this year in my spare time
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Last fetched: {{ gitHubTime.minutes }} minutes and {{ gitHubTime.seconds }} seconds ago
            </div>
        </div>
    </div>
    <div ng-hide="gitHub">
        <div class="text-center">
            <i class="fa fa-cog fa-spin fa-5x"></i>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Resume</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" style="height:200px">
            Education
        </div>
        <div ng-repeat="education in profile.educations.values">
            <div class="col-lg-6">
                {{ education.fieldOfStudy }} - {{ education.degree }}
                <hr>
            </div>
            <div class="col-lg-3">
                {{ education.schoolName }}
                <br> {{ education.startDate.year }} - {{ education.endDate.year }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" style="height:600px">
            Experience
        </div>
        <div ng-repeat="position in profile.positions.values">
            <div class="col-lg-6">
                {{ position.title }}
                <br> {{ position.summary }}
                <hr>
            </div>
            <div class="col-lg-3">
                {{ position.company.name }}
                <br> {{ position.startDate.month }}/{{ position.startDate.year }} -
                <span ng-if="position.isCurrent">Present</span>
                <span ng-if="!position.isCurrent">{{ position.endDate.month }}/{{ position.endDate.year }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-3">
            <button class="btn btn-lg btn-success">Generate CV</button>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
            <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
            <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
        </p>
    </div>
</footer>