.resume-place {
    i {
        color: #C4C4C4;
        font-size: 14px;
        margin-right: 5px;
    }
    .icon {
        float: left;
        position: relative;
        padding-top: 3px;
    }
    .institution {
        float: left;
        position: relative;
        width: 200px;
    }
    .dates {
        clear: both;
    }
}