$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

#stats {
    h2 {
        @media screen and (max-width: $screen-md-min) {
            font-size: 16px;
        }
    }
    h3 {
    }
}